body {
    margin: 30px;
    text-align: center;
    background-color: #333;
}

h1 {
    font-family: sans-serif;
    color: rgb(255, 255, 255)
}

#container {
    width: 500px;
    height: 375px;
    border: 10px rgb(122, 122, 122) solid;
    margin:0 auto;
}

#videoElement {
    width: 500px;
    height: 375px;
    background-color: #666;
}
